    @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

    * {
        margin: 0px;
        padding: 0px;
    }

    html,
    body {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    nav {
        height: auto;
        min-height: 7vh;
        padding-top: 5px;
        display: flex;
        justify-content: space-between;
        border: 1px solid black;
    }

    .left-nav {
        display: flex;
        align-items: center;
        gap: 30px;
        padding-left: 50px;
    }

    .logo {
        align-items: center;
        display: flex;
        font-size: 1.5rem;
        font-family: Playfair Display, serif;
        font-weight: bold;
        gap: 5px;
    }

    .logo img {
        width: 30px;
        height: 30px;
    }

    .left-nav button {
        font-size: 1.2rem;
        font-weight: 600;
        border: transparent;
        background-color: transparent;
    }

    .left-nav button:hover {
        color: darkblue;
    }


    .right-nav {
        display: flex;
        align-items: center;
        padding-right: 50px;
    }

    .ri-menu-3-fill {
        display: none;
    }

    .right-nav button {
        height: 45px;
        width: 220px;
        font-size: 1.2rem;
        font-weight: 600;
        border: 1px solid black;
        border-radius: 30px;
    }

    .right-nav button:hover {
        transition: 0.5s;
        color: white;
        background-color: black;
    }

    .bg1 {
        height: auto;
        min-height: 10vh;
        width: 100%;
        padding-top: 50px;
        text-align: center;
    }

    .bg1 p {
        line-height: 50px;
        font-weight: 500;
        font-size: 1.2rem;
    }

    .bg1 h1 {
        font-size: 6.5em;
        font-weight: 400;
    }

    .main-img {
        height: auto;
        min-height: 110vh;
        width: 100%;
        background-image: url("img1\ \(Edited\).png");
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 50px;
        text-align: center;
    }

    .main-img button {
        border: 1px solid black;
        border-radius: 30px;
        font-weight: 600;
        height: 50px;
        width: 220px;
        font-size: 1.2rem;
    }

    .main-img button:hover {
        transition: 0.5s;
        color: white;
        background-color: black;
    }

    .p1 {
        height: auto;
        min-height: 20vh;
        width: 99.9%;
        text-align: center;
        font-size: 4.3rem;
        padding-top: 15vh;
        display: flex;
        align-items: center;
    }

    .p1 p {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        flex-wrap: wrap;
    }

    .p1 img {
        height: 100px;
        width: 100px;
    }

    .petfood {
        height: 100px;
        width: 100px;
    }

    .bg2 {
        height: auto;
        min-height: 70vh;
        padding-top: 20vh;
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .box1 {
        height: 60vh;
        width: 25vw;
        text-align: center;
        border: 2px solid black;
        border-radius: 5%;
    }

    .box1 img {
        padding-top: 28px;
        height: 37vh;
    }

    .box1 h2 {
        padding-top: 25px;
        font-size: 2rem;
        font-weight: 500;
    }

    .box1 p {
        font-size: 1.2rem;
        padding: 15px 5px 0 5px;
    }

    .box2 {
        height: 60vh;
        width: 25vw;
        text-align: center;
        border: 2px solid black;
        border-radius: 5%;
    }

    .box2 img {
        height: 43vh;

    }

    .box2 h2 {
        font-size: 2rem;
        font-weight: 500;
    }

    .box2 p {
        font-size: 1.2rem;
        font-weight: 500;
        padding: 15px 5px 0 5px;
    }

    .box3 {
        height: 60vh;
        width: 25vw;
        text-align: center;
        border: 2px solid black;
        border-radius: 5%;
    }

    .box3 img {
        height: 43vh;
    }

    .box3 h2 {
        font-size: 2rem;
        font-weight: 500;
    }

    .box3 p {
        font-size: 1.2rem;
        padding: 15px 5px 0 5px;
    }

    .bg3 {
        height: auto;
        min-height: 100vh;
        width: 100%;
        text-align: center;
        background-image: url("bg3\ \(Edited\).png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bg3 h2 {
        padding-top: 120px;
        font-size: 3rem;
        font-weight: 500;
    }

    .bg3 p {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .fa {
        font-size: 25px;
    }

    .checked {
        padding-top: 20px;
        color: orange;
    }

    .bg4 {
        height: auto;
        min-height: 135vh;
        text-align: center;
    }

    .services {
        font-weight: 700;
    }

    .bg4 h1 {
        font-size: 4.5rem;
        font-weight: 400;
    }

    .bg4-main-p {
        padding-bottom: 7vh;
    }

    .bg4 h2 {
        font-size: 2.2rem;
        font-weight: 400;
    }

    .bg4 p {
        font-size: 1.2rem;
        line-height: 25px;
        font-weight: 500;
        padding-top: 15px;
    }

    .boxes {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
    }

    .bg4-box1 {
        height: 40vh;
        width: 25vw;
        border: 2px solid black;
        border-radius: 5%;
    }

    .bg4-box1 img {
        height: 26vh;
    }

    .bg4-box2 {
        height: 40vh;
        width: 25vw;
        border: 2px solid black;
        border-radius: 5%;
    }

    .bg4-box2 img {
        height: 26vh;
    }

    .bg4-box3 {
        height: 40vh;
        width: 25vw;
        border: 2px solid black;
        border-radius: 5%;
    }

    .bg4-box3 img {
        height: 26vh;
    }

    .bg4-box4 {
        height: 40vh;
        width: 25vw;
        border: 2px solid black;
        border-radius: 5%;
    }

    .bg4-box4 img {
        height: 26vh;
    }

    .bg4-box5 {
        height: 40vh;
        width: 25vw;
        border: 2px solid black;
        border-radius: 5%;
    }

    .bg4-box5 img {
        height: 26vh;
    }

    .bg4-box6 {
        height: 40vh;
        width: 25vw;
        border: 2px solid black;
        border-radius: 5%;
    }

    .bg4-box6 img {
        height: 26vh;
    }

    .bg5 {
        height: auto;
        min-height: 90vh;
    }

    .bg5-boxes {
        justify-content: space-evenly;
        display: flex;
    }

    .bg5-box1 img {
        padding-left: 10vw;
        height: 95vh;
    }

    .bg5-box2 {
        padding: 0 5vw;
    }

    .bg5-box2-p1 {
        padding-top: 15vh;
        font-weight: 600;
    }

    .bg5-box2 h1 {
        font-size: 4rem;
        font-weight: 500;
        padding-bottom: 3vh;
    }
    .bg5-box2-p2{
        line-height: 1.4;
        font-weight: 500;
    }

    .bg5-box2-btns {
        padding-top: 5vh;
        display: flex;
        gap: 20px;
    }

    .bg5-box2-btn1 {
        height: 50px;
        width: 150px;
        font-size: 1rem;
        font-weight: 500;
        border: 1px solid black;
        border-radius: 30px;
    }

    .bg5-box2-btn2 {
        height: 50px;
        width: 300px;
        font-size: 1rem;
        font-weight: 500;
        border: 1px solid black;
        border-radius: 30px;
    }

    .bg5-box2-btn1:hover {
        background-color: black;
        color: white;
        transition: 0.5s;
    }

    .bg5-box2-btn2:hover {
        background-color: black;
        color: white;
        transition: 0.5s;
    }

    .bg6{
        height: auto;
        min-height: 100vh;
        background-image: url("bg6-img.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bg6-p1{
        padding: 50px 0 0 80px;
        font-weight: 600;
    }
    .bg6 h1{
        padding: 10px 0 0 80px;
        font-weight: 600;
        font-size: 4rem;
    }
    .bg6II{
        line-height: 1.4;
        font-weight: 500;
        padding: 170px 0 0 80px;
    }
    .bg6 button{
        height: 50px;
        width: 160px;
        font-weight: 500;
        font-size: 1rem;
        border-radius: 25px;
    }

    .bg6 button:hover{
        background-color: black;
        color: white;
        transition: 0.5s;
    }

    /* Moblile 640px */
    @media (max-width: 640px) {
        nav {
            height: auto;
            min-height: 6vh;
            padding: 0px;
            align-items: center;
        }

        .left-nav {
            padding-left: 10px;
        }

        .left-nav button {
            display: none;
        }

        .right-nav {
            padding-right: 25px;
            font-weight: bold;

        }

        .ri-menu-3-fill {
            display: inline;
        }

        .booking-btn {
            display: none;
        }

    }