    @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

    * {
        margin: 0px;
        padding: 0px;
    }

    html,
    body {
        width: 100vw;
        margin: 0px;
        padding: 0px;
    }

    nav {
        height: auto;
        min-height: 7vh;
        padding-top: 5px;
        display: flex;
        justify-content: space-between;
        border: 1px solid black;
    }

    .left-nav {
        display: flex;
        align-items: center;
        gap: 30px;
        padding-left: 50px;
    }

    .logo {
        align-items: center;
        display: flex;
        font-size: 1.5rem;
        font-family: Playfair Display, serif;
        font-weight: bold;
        gap: 5px;
    }

    .logo img {
        width: 30px;
        height: 30px;
    }

    .left-nav button {
        font-size: 1.2rem;
        font-weight: 600;
        border: transparent;
        background-color: transparent;
    }

    .left-nav button:hover {
        color: orange;
    }


    .right-nav {
        display: flex;
        align-items: center;
        padding-right: 50px;
    }

    .ri-menu-3-fill {
        display: none;
    }

    .right-nav button {
        height: 45px;
        width: 220px;
        font-size: 1.2rem;
        font-weight: 600;
        border: 1px solid black;
        border-radius: 30px;
    }

    .right-nav button:hover {
        color: white;
        background-color: black;
    }

    .bg1 {
        height: auto;
        min-height: 10vh;
        width: 100%;
        padding-top: 50px;
        text-align: center;
    }

    .bg1 p {
        line-height: 50px;
        font-size: 1.2rem;
    }

    .bg1 h1 {
        font-size: 6.5em;
        font-weight: 400;
    }

    .main-img {
        height: auto;
        min-height: 110vh;
        width: 100%;
        background-image: url("img1\ \(Edited\).png");
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 50px;
        text-align: center;
    }

    .main-img button {
        background: transparent;
        border: 1px solid black;
        border-radius: 30px;
        font-weight: 600;
        height: 50px;
        width: 220px;
        font-size: 1.2rem;
    }

    .main-img button:hover {
        color: white;
        background-color: black;
    }

    .p1 {
        height: auto;
        min-height: 20vh;
        width: 99.9%;
        text-align: center;
        font-size: 4.3rem;
        padding-top: 15vh;
        display: flex;
        align-items: center;
    }

    .p1 p {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        flex-wrap: wrap;
    }

    .p1 img {
        height: 100px;
        width: 100px;
    }

    .p1 .petfood {
        height: 100px;
        width: 100px;
    }

    .bg2{
        height: auto;
        min-height: 70vh;
        padding-top: 20vh;
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    .bg2 .box1{
        height: 60vh;
        width: 25vw;
        text-align: center;
        background-image: url("box1.png");
        background-size: 90%;
        background-position: 50% 10%;
        background-repeat: no-repeat;
        border: 1px solid black;
    }
    .box1 h2{
        font-size: 2rem;
        font-weight: 600;
        padding-top: 410px;
    }
    .box1 p{
        font-size: 1.2rem;
        padding-top: 15px;
    }
    .bg2 .box2{
        height: 60vh;
        width: 25vw;
        text-align: center;
        background-image: url("box2.png");
        background-size: 98%;
        background-position: 50% -20%;
        background-repeat: no-repeat;
        border: 1px solid black;
    }
    .box2 h2{
        font-size: 2rem;
        font-weight: 600;
        padding-top: 410px;
    }
    .box2 p{
        font-size: 1.2rem;
        padding-top: 15px;
    }
    .bg2 .box3{
        height: 60vh;
        width: 25vw;
        text-align: center;
        background-image: url("box3.png");
        background-size: 95%;
        background-position: 50% -20%;
        background-repeat: no-repeat;
        border: 1px solid black;
    }
    .box3 h2{
        font-size: 2rem;
        font-weight: 600;
        padding-top: 410px;
    }
    .box3 p{
        font-size: 1.2rem;
        padding-top: 15px;
    }   

    /* Moblile 640px */
    @media (max-width: 640px) {
        nav {
            height: auto;
            min-height: 6vh;
            padding: 0px;
            align-items: center;
        }

        .left-nav {
            padding-left: 10px;
        }

        .left-nav button {
            display: none;
        }

        .right-nav {
            padding-right: 25px;
            font-weight: bold;

        }

        .ri-menu-3-fill {
            display: inline;
        }

        .booking-btn {
            display: none;
        }

    }